* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", "sans-serif", "Basic Sans 7";
  font-weight: 400;
}

a {
  color: black;
}

input {
  outline: 0;
  border: none;
}

button {
  border: none;
}

.container {
  padding: 5%;
  margin: auto;
  text-align: center;
  transition: all 333ms;
}
@media (min-width: 576px) {
  .container {
    padding: 10px 3%;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 15px 8%;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 12px 8%;
  }
}

.s__ {
  transition: all 333ms;
  background: #4ca368;
}
@media (min-width: 992px) {
  .s__ {
    padding: 100px;
  }
}
@media (min-width: 1200px) {
  .s__ {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.s__title {
  transition: all 333ms;
  padding-bottom: 5px;
}
@media (min-width: 576px) {
  .s__title {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .s__title {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  .s__title {
    font-size: 4rem;
    padding: 0;
    font-weight: 300;
  }
}
@media (min-width: 1200px) {
  .s__title {
    font-size: 4.8rem;
  }
}
.s__text, .s__text-2 {
  font-weight: 300;
}
@media (min-width: 576px) {
  .s__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .s__text {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .s__text {
    width: 820px;
    margin: 12px 0;
  }
}
.s__text-2 {
  transition: all 333ms;
  color: #ffffff;
}
@media (min-width: 576px) {
  .s__text-2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .s__text-2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .s__text-2 {
    font-size: 1.4rem;
    padding: 0;
  }
}
.s__img {
  transition: all 333ms;
  margin: 5px 0;
}
@media (min-width: 768px) {
  .s__img {
    margin: 10px 0;
  }
}
.s__img img {
  transition: all 333ms;
  width: 60%;
}
@media (min-width: 992px) {
  .s__img img {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .s__img img {
    width: unset;
  }
}
.s__box {
  transition: all 333ms;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .s__box {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .s__box {
    margin: 20px 0;
  }
}
.s__box--inp {
  transition: all 333ms;
  height: 22px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #37804e;
  border-right: none;
  text-align: left;
  padding-left: 20px;
}
@media (min-width: 576px) {
  .s__box--inp {
    height: 26px;
  }
}
@media (min-width: 768px) {
  .s__box--inp {
    height: 28px;
    border-width: 2px;
  }
}
@media (min-width: 992px) {
  .s__box--inp {
    height: 35px;
  }
}
.s__box--inp::placeholder {
  font-size: 11px;
}
@media (min-width: 992px) {
  .s__box--inp {
    font-size: 14px;
  }
}
.s__box--btn {
  transition: all 333ms;
  color: #ffffff;
  height: 24px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #37804e;
  border-left: none;
  background: #37804e;
  font-size: 1em;
  padding: 2px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .s__box--btn {
    height: 28px;
  }
}
@media (min-width: 768px) {
  .s__box--btn {
    height: 32px;
    border-width: 2px;
    padding: 0 10px;
  }
}
@media (min-width: 992px) {
  .s__box--btn {
    padding: unset;
    font-size: 1.4rem;
    width: 82px;
    height: 39px;
  }
}

.h__ {
  transition: all 333ms;
  display: flex;
  flex-flow: column-reverse;
  background: #282828;
}
@media (min-width: 576px) {
  .h__ {
    flex-flow: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .h__ {
    justify-content: space-around;
  }
}
.h__social {
  transition: all 333ms;
  margin-top: 18px;
}
@media (min-width: 576px) {
  .h__social {
    margin-top: 0;
  }
}
.h__social svg {
  transition: all 333ms;
  width: 18px;
  height: 18px;
}
@media (min-width: 768px) {
  .h__social svg {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 992px) {
  .h__social svg {
    width: 13px;
    height: 13px;
  }
}
.h__social a {
  transition: all 333ms;
}
@media (min-width: 576px) {
  .h__social a {
    margin-right: 12px;
  }
}
@media (min-width: 768px) {
  .h__social a {
    margin-right: 25px;
  }
}
.h__social, .h__contact {
  transition: all 333ms;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (min-width: 576px) {
  .h__social, .h__contact {
    justify-content: unset;
    align-items: unset;
  }
}
.h__social svg, .h__contact svg {
  transition: all 333ms;
  fill: #ffffff;
}
@media (min-width: 576px) {
  .h__social-tel, .h__contact-tel {
    margin-right: 12px;
  }
}
@media (min-width: 768px) {
  .h__social-tel, .h__contact-tel {
    margin-right: 25px;
  }
}
@media (min-width: 992px) {
  .h__social-tel, .h__contact-tel {
    margin-right: 35px;
  }
}
.h__social-tel, .h__social-eml, .h__contact-tel, .h__contact-eml {
  transition: all 333ms;
  display: flex;
  align-items: center;
  color: white;
  cursor: default;
}
.h__social-tel--text, .h__social-eml--text, .h__contact-tel--text, .h__contact-eml--text {
  transition: all 333ms;
  padding-left: 5px;
}
@media (min-width: 768px) {
  .h__social-tel--text, .h__social-eml--text, .h__contact-tel--text, .h__contact-eml--text {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .h__social-tel--text, .h__social-eml--text, .h__contact-tel--text, .h__contact-eml--text {
    font-size: 1.4rem;
  }
}

.n__ {
  transition: all 333ms;
  background: #ffffff;
}
@media (min-width: 576px) {
  .n__ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .n__ {
    justify-content: space-around;
  }
}
.n__logo {
  transition: all 333ms;
  color: #636666;
  font-size: 3.5rem;
}
@media (min-width: 576px) {
  .n__logo {
    font-size: 3rem;
  }
}
.n__menus {
  transition: all 333ms;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 17px;
}
@media (min-width: 576px) {
  .n__menus {
    justify-content: unset;
    margin: 0;
  }
}
.n__menus a {
  transition: all 333ms;
  font-size: 1.5em;
  width: 68px;
  font-weight: 300;
  color: #5db442;
  border: 0.5px solid #5db442;
  border-radius: 20px;
  padding: 2px 0;
}
@media (min-width: 576px) {
  .n__menus a {
    margin-left: 5px;
  }
}
@media (min-width: 768px) {
  .n__menus a {
    color: #333333;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 3px 6px;
  }
}
@media (min-width: 992px) {
  .n__menus a {
    padding: unset;
    font-size: 1.4rem;
    display: flex;
    width: 100px;
    height: 26px;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .n__menus a:hover {
    border-color: #5db442;
    color: #5db442;
    background: #f7f7f7;
  }
}

.hr__ {
  transition: all 333ms;
  background-image: url("../img/bg-img.png");
}
@media (min-width: 992px) {
  .hr__ {
    padding: 100px;
  }
}
@media (min-width: 1200px) {
  .hr__ {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.hr__ svg {
  transition: all 333ms;
  fill: #5db442;
}
.hr__title {
  transition: all 333ms;
  padding-bottom: 5px;
}
@media (min-width: 576px) {
  .hr__title {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .hr__title {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  .hr__title {
    padding: 0;
    font-size: 4rem;
    font-weight: 300;
  }
}
@media (min-width: 1200px) {
  .hr__title {
    font-size: 4.8rem;
  }
}
.hr__box {
  transition: all 333ms;
  border: 1px solid #f1f1f1;
  background: #ffffff;
  box-shadow: 0 0 20px 2px #d6d6d6;
  margin: 15px 8%;
  padding: 25px;
}
@media (min-width: 576px) {
  .hr__box {
    padding: 40px;
  }
}
@media (min-width: 992px) {
  .hr__box {
    margin: 30px;
    padding: 90px;
  }
}
@media (min-width: 1200px) {
  .hr__box {
    width: 630px;
  }
}
.hr__box-in {
  transition: all 333ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hr__box--title {
  transition: all 333ms;
  color: #5db442;
  font-weight: 300;
  font-size: 1.3em;
  padding: 7px 0;
  margin-left: 20px;
}
@media (min-width: 576px) {
  .hr__box--title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .hr__box--title {
    font-size: 2.6rem;
  }
}
.hr__box--ico {
  transition: all 333ms;
  position: absolute;
  width: 37px;
  margin-left: -90px;
}
@media (min-width: 576px) {
  .hr__box--ico {
    margin-left: -100px;
  }
}
@media (min-width: 768px) {
  .hr__box--ico {
    margin-left: -115px;
    width: unset;
  }
}
@media (min-width: 992px) {
  .hr__box--ico {
    margin-left: -135px;
    margin-top: 12px;
  }
}
.hr__box--list li {
  transition: all 333ms;
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 20px;
  margin-bottom: 5px;
}
@media (min-width: 576px) {
  .hr__box--list li {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .hr__box--list li {
    font-size: 1.6rem;
  }
}
.hr__link {
  transition: all 333ms;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .hr__link {
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .hr__link {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .hr__link {
    width: 630px;
  }
}
.hr__link-c {
  transition: all 333ms;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 58px;
}
@media (min-width: 576px) {
  .hr__link-c {
    width: 104px;
  }
}
@media (min-width: 1200px) {
  .hr__link-c {
    padding-bottom: 25px;
  }
}
.hr__link-p {
  transition: all 333ms;
  margin-top: 5px;
}
@media (min-width: 576px) {
  .hr__link-p {
    font-size: 1.2rem;
  }
}
.hr__link-bk {
  transition: all 333ms;
  border: 1px solid #5db442;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
@media (min-width: 576px) {
  .hr__link-bk {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  .hr__link-bk {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  .hr__link-bk {
    border-width: 2px;
  }
}
@media (min-width: 992px) and (min-width: 768px) {
  .hr__link-bk:hover {
    transform: scale3d(1.3, 1.3, 1);
    border-color: #ffffff;
    background: #5db442;
  }
}
@media (min-width: 992px) and (min-width: 768px) {
  .hr__link-bk:hover svg {
    fill: #ffffff;
  }
}

.of__ {
  transition: all 333ms;
  background: #ffffff;
}
@media (min-width: 992px) {
  .of__ {
    padding: 100px;
  }
}
.of__title {
  transition: all 333ms;
}
@media (min-width: 576px) {
  .of__title {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .of__title {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  .of__title {
    padding: 0;
    font-weight: 300;
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  .of__title {
    font-size: 4.8rem;
  }
}
.of__btn {
  transition: all 333ms;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media (min-width: 576px) {
  .of__btn {
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .of__btn {
    margin: 50px 0;
  }
}
.of__btn-m {
  transition: all 333ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #4ca368;
  border-radius: 50%;
  position: absolute;
  color: #f7f7f7;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  .of__btn-m {
    width: 24px;
    height: 24px;
    font-size: 1.3rem;
  }
}
.of__btn-l, .of__btn-r {
  transition: all 333ms;
  display: flex;
  width: 124px;
  height: 24px;
  border: 1px solid #5db442;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .of__btn-l, .of__btn-r {
    width: 141.5px;
    height: 28px;
    font-size: 1.3rem;
  }
}
.of__btn-l:hover, .of__btn-r:hover {
  background: #5db442;
  color: #f7f7f7;
}
.of__btn-l {
  border-radius: 20px 0 0 20px;
  background: #f7f7f7;
  border-right: none;
  cursor: pointer;
}
.of__btn-r {
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background: #f7f7f7;
  border-left: none;
}
.of__prices {
  cursor: unset;
  transition: all 333ms;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid #ececec;
  width: 127px;
}
@media (min-width: 576px) {
  .of__prices {
    width: 135px;
  }
}
@media (min-width: 768px) {
  .of__prices {
    width: 180px;
  }
}
@media (min-width: 992px) {
  .of__prices {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .of__prices {
    width: 270px;
  }
}
.of__prices-fm {
  transition: all 333ms;
}
@media (min-width: 768px) {
  .of__prices-fm {
    padding: 15px 0;
  }
}
.of__prices--btn {
  cursor: pointer;
  transition: all 333ms;
  border: 1px solid #ececec;
  border-radius: 20px;
  font-size: 0.8em;
  background: #ffffff;
  padding: 3px;
  margin-bottom: 5px;
}
@media (min-width: 576px) {
  .of__prices--btn {
    font-size: 1rem;
    padding: 6px 12px;
  }
}
@media (min-width: 768px) {
  .of__prices--btn {
    width: 95px;
  }
}
@media (min-width: 992px) {
  .of__prices--btn {
    width: 120px;
    height: 33px;
    margin: 25px 0;
  }
}
.of__prices--btn:hover {
  background: #5db442;
  color: #ffffff;
}
.of__prices-title {
  transition: all 333ms;
  height: 40px;
}
@media (min-width: 576px) {
  .of__prices-title {
    height: 50px;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .of__prices-title {
    height: 60px;
  }
}
@media (min-width: 992px) {
  .of__prices-title {
    font-size: 1.4rem;
    margin-top: 10px;
    height: 70px;
  }
}
.of__prices-title js--set {
  border-top: 2px solid #5db442;
}
.of__prices-pric {
  transition: all 333ms;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 1px solid #71bc59;
  margin-top: 18px;
  background: #f7f7f7;
  position: absolute;
  box-shadow: 0 0 3px 3px #ececec;
}
@media (min-width: 576px) {
  .of__prices-pric {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .of__prices-pric {
    width: 75px;
    height: 75px;
    margin-top: 25px;
  }
}
@media (min-width: 992px) {
  .of__prices-pric {
    width: 92px;
    height: 92px;
    margin-top: 35px;
  }
}
.of__prices-pric--v {
  transition: all 333ms;
  font-size: 1.5em;
}
@media (min-width: 576px) {
  .of__prices-pric--v {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .of__prices-pric--v {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .of__prices-pric--v {
    font-size: 2.3rem;
    color: #333333;
  }
}
.of__prices-pric--t {
  transition: all 333ms;
  font-size: 0.5em;
  font-weight: 300;
  font-style: italic;
}
@media (min-width: 576px) {
  .of__prices-pric--t {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .of__prices-pric--t {
    font-size: 1rem;
  }
}
.of__prices-list {
  transition: all 333ms;
  border-top: 1px solid #ececec;
  padding-top: 30px;
  width: 100%;
}
@media (min-width: 576px) {
  .of__prices-list {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .of__prices-list {
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .of__prices-list {
    padding-top: 70px;
  }
}
.of__prices-list li {
  transition: all 333ms;
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  padding: 2px;
}
@media (min-width: 576px) {
  .of__prices-list li {
    align-items: baseline;
  }
}
.of__prices-list svg {
  transition: all 333ms;
  width: 7px;
  height: 7px;
}
@media (min-width: 576px) {
  .of__prices-list svg {
    width: 8px;
    height: 8px;
  }
}
@media (min-width: 768px) {
  .of__prices-list svg {
    width: unset;
    height: unset;
  }
}
.of__prices-list p {
  transition: all 333ms;
  font-size: 0.7em;
  margin-bottom: 6px;
  margin-left: 3px;
}
@media (min-width: 576px) {
  .of__prices-list p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .of__prices-list p {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .of__prices-list p {
    font-size: 1.6rem;
  }
}
.of__box {
  transition: all 333ms;
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
@media (min-width: 576px) {
  .of__box {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .of__box {
    margin: 25px 0;
  }
}
@media (min-width: 992px) {
  .of__box {
    margin: 0;
  }
}

.ot__ {
  transition: all 333ms;
  background-image: url("../img/bg-img.png");
}
@media (min-width: 992px) {
  .ot__ {
    padding: 100px;
  }
}
@media (min-width: 1200px) {
  .ot__ {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.ot__title {
  transition: all 333ms;
  padding: 5px 0;
  font-size: 1.63rem;
}
@media (min-width: 576px) {
  .ot__title {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .ot__title {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  .ot__title {
    font-weight: 300;
    padding: 0;
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  .ot__title {
    font-size: 4.8rem;
  }
}
.ot__box {
  transition: all 333ms;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}
@media (min-width: 576px) {
  .ot__box {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .ot__box {
    margin: 25px 0;
  }
}
@media (min-width: 992px) {
  .ot__box {
    margin: 45px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .ot__box {
    width: 83%;
  }
}
.ot__box-item {
  transition: all 333ms;
  background: #ffffff;
  width: 32%;
  padding: 5px;
  box-shadow: 1px 1px 4px 1px #e2e2e2;
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .ot__box-item {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .ot__box-item {
    width: 21%;
  }
}
.ot__box-item:hover {
  background: #5db442;
  color: #ffffff;
}
@media (min-width: 768px) {
  .ot__box-item:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
}
.ot__box-item:hover svg {
  fill: #ffffff;
  border-color: #ffffff;
}
.ot__box-item--title {
  font-size: 1.1em;
}
@media (min-width: 576px) {
  .ot__box-item--title {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
@media (min-width: 992px) {
  .ot__box-item--title {
    font-size: 1.6rem;
  }
}
.ot__box-item--text {
  margin-top: 5px;
  font-weight: 300;
}
@media (min-width: 576px) {
  .ot__box-item--text {
    padding: 20px;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .ot__box-item--text {
    padding: 10px;
  }
}
@media (min-width: 1200px) {
  .ot__box-item--text {
    padding: 25px;
  }
}
.ot__box-item--ico {
  transition: all 333ms;
  border-bottom: 2px solid #e1e2e3;
  padding-bottom: 10px;
  margin: 5px 0;
  fill: #5db442;
  width: 35px;
  height: 35px;
}
@media (min-width: 576px) {
  .ot__box-item--ico {
    width: 40px;
    height: 40px;
    margin: 10px 0;
  }
}
@media (min-width: 768px) {
  .ot__box-item--ico {
    width: unset;
    height: unset;
  }
}

.lk__ {
  transition: all 333ms;
  background: #efefef;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
@media (min-width: 576px) {
  .lk__ {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .lk__ {
    padding-top: 70px;
  }
}
@media (min-width: 1200px) {
  .lk__ {
    justify-content: space-around;
  }
}
.lk__box {
  transition: all 333ms;
  text-align: left;
  padding: 5px;
}
.lk__box-title {
  transition: all 333ms;
  font-size: 1.2em;
}
@media (min-width: 576px) {
  .lk__box-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .lk__box-title {
    font-size: 1.6rem;
  }
}
.lk__box-item {
  transition: all 333ms;
  font-weight: 300;
  font-size: 0.8em;
  margin: 5px 0;
  cursor: pointer;
}
.lk__box-item:hover {
  text-decoration: underline;
}
@media (min-width: 576px) {
  .lk__box-item {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .lk__box-item {
    margin: 0;
    font-size: 1.3rem;
    line-height: 32px;
    font-weight: 400;
  }
}
.lk__inp {
  transition: all 333ms;
  display: flex;
  flex-flow: column;
  margin: 0 10% 15px 10%;
}
@media (min-width: 576px) {
  .lk__inp {
    margin: 0;
    text-align: left;
    flex-basis: 0;
    align-items: baseline;
  }
}
.lk__inp-title {
  transition: all 333ms;
}
@media (min-width: 576px) {
  .lk__inp-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .lk__inp-title {
    font-size: 1.6rem;
  }
}
.lk__inp-box {
  transition: all 333ms;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 5px 0;
}
.lk__inp--inp {
  transition: all 333ms;
  height: 24px;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .lk__inp--inp {
    height: 45px;
    width: 280px;
  }
}
.lk__inp--inp::placeholder {
  font-style: italic;
}
.lk__inp--btn {
  transition: all 333ms;
  background: #5db442;
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .lk__inp--btn {
    width: 55px;
    height: 45px;
  }
}
.lk__inp--btn:before, .lk__inp--btn:after {
  transition: all 333ms;
  content: "";
  display: block;
  background: #ffffff;
  width: 8px;
  height: 2px;
  position: absolute;
  left: 43%;
}
@media (min-width: 992px) {
  .lk__inp--btn:before, .lk__inp--btn:after {
    width: 12px;
    height: 3px;
  }
}
.lk__inp--btn:after {
  top: 10px;
  transform: rotateZ(45deg);
}
@media (min-width: 992px) {
  .lk__inp--btn:after {
    top: 16px;
  }
}
.lk__inp--btn:before {
  transform: rotateZ(-45deg);
  top: 14px;
}
@media (min-width: 992px) {
  .lk__inp--btn:before {
    top: 23px;
  }
}
.lk__inp--btn-text {
  transition: all 333ms;
  font-weight: 300;
  padding: 5px 0;
}
@media (min-width: 576px) {
  .lk__inp--btn {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .lk__inp--btn {
    font-weight: 400;
  }
}

.ft__ {
  transition: all 333ms;
  background: #efefef;
  border-top: 1px solid #e1e2e3;
}
@media (min-width: 1200px) {
  .ft__ {
    padding: 15px 12%;
  }
}
.ft__box {
  transition: all 333ms;
}
@media (min-width: 576px) {
  .ft__box {
    padding: 20px 0;
  }
}
@media (min-width: 768px) {
  .ft__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.ft__logo {
  transition: all 333ms;
  color: #636666;
  padding-bottom: 5px;
}
@media (min-width: 576px) {
  .ft__logo {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .ft__logo {
    font-size: 2rem;
    padding: 0;
  }
}
.ft__regi {
  transition: all 333ms;
  font-weight: 300;
  font-size: 0.9em;
}
@media (min-width: 576px) {
  .ft__regi {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .ft__regi {
    width: 223px;
    font-size: 1.1rem;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
