$sm:576px
$md:768px
$lg:992px
$el:1200px

*
  text-decoration: none
  list-style-type: none
  margin: 0
  padding: 0

html
  font-size: 10px
  font-family: 'Roboto', 'sans-serif', 'Basic Sans 7'
  font-weight: 400

a
  color: black

input
  outline: 0
  border: none

button
  border: none

.container
  padding: 5%
  margin: auto
  text-align: center
  transition: all 333ms
  @media(min-width: $sm)
    padding: 10px 3%
  @media(min-width: $md)
    padding: 15px 8%
  @media(min-width: $el)
    padding: 12px 8%
  