.ft__
  background: #efefef
  border-top: 1px solid #e1e2e3
  @media(min-width: $sm)
    padding: 20px 0

  &logo
    padding-bottom: 5px
    @media(min-width: $sm)
      font-size: 2.5rem
      font-weight: 400

  &regi
    font-weight: 300
    font-size: 0.9em
    @media(min-width: $sm)
      font-size: 1.3rem