.h__
  transition: all 350ms
  display: flex
  flex-flow: column-reverse
  background: #282828
  @media(min-width: $sm)
    flex-flow: row
    justify-content: space-between
  @media(min-width: $el)
    justify-content: space-around

  &social
    transition: all 350ms
    margin-top: 18px
    @media(min-width: $sm)
      margin-top: 0

    & svg
      transition: all 350ms
      width: 18px
      height: 18px
      @media(min-width: $md)
        width: 15px
        height: 15px
      @media(min-width: $lg)
        width: 13px
        height: 13px

    & a
      transition: all 350ms
      @media(min-width: $sm)
        margin-right: 12px
      @media(min-width: $md)
        margin-right: 25px

  &social,
  &contact
    transition: all 350ms
    display: flex
    justify-content: space-between
    align-items: baseline
    @media(min-width: $sm)
      justify-content: unset
      align-items: unset

    & svg
      transition: all 350ms
      fill: #ffffff

    &-tel
      @media(min-width: $sm)
        margin-right: 12px
      @media(min-width: $md)
        margin-right: 25px
      @media(min-width: $lg)
        margin-right: 35px

    &-tel, 
    &-eml
      transition: all 350ms
      display: flex
      align-items: center
      color: white
      cursor: default
      
      &--text
        transition: all 350ms
        padding-left: 5px
        @media(min-width: $md)
          font-size: 1.3rem
        @media(min-width: $lg)
          font-size: 1.4rem

