.hr__
  background-image: url('../img/bk-img.png')

  & svg
    fill: #5db442

  &title
    padding-bottom: 5px

  &box
    border: 1px solid #f1f1f1
    background: #f7f7f7
    box-shadow: 0 0 20px 2px #d6d6d6
    display: flex
    flex-flow: column
    margin-bottom: 15px
    padding: 25px

    &--title
      color: #5db442
      font-weight: 300
      font-size: 1.3em
      padding: 7px 0
      margin-left: 20px

    &--ico
      position: absolute
      width: 37px
      padding-left: 12px

    &--list li
        list-style-type: decimal
        list-style-position: inside
        margin-left: 20px
        margin-bottom: 5px

  &link
    display: flex
    flex-flow: row
    justify-content: space-around

    &-c
      text-align: center
      display: flex
      flex-flow: column
      align-items: center
      width: 58px

    &-p
      margin-top: 5px

    &-bk
      border: 1px solid #5db442
      border-radius: 50%
      width: 34px
      height: 34px
      display: flex
      justify-content: center
      align-items: center
      background: #f7f7f7

