.lk__
  transition: all 350ms
  background: #efefef
  display: flex
  flex-flow: wrap
  justify-content: space-around
  @media(min-width: $sm)
    justify-content: space-between
  @media(min-width: $lg)
    padding-top: 70px
  @media(min-width: $el)
    justify-content: space-around

  &box
    transition: all 350ms
    text-align: left
    padding: 5px

    &-title
      transition: all 350ms
      font-size: 1.2em
      @media(min-width: $sm)
        font-size: 1.5rem
      @media(min-width: $lg)
        font-size: 1.6rem

    &-item
      transition: all 350ms
      font-weight: 300
      font-size: 0.8em
      margin: 5px 0
      cursor: pointer
      &:hover
        text-decoration: underline
      @media(min-width: $sm)
        font-size: 1rem
      @media(min-width: $lg)
        margin: 0
        font-size: 1.3rem
        line-height: 32px
        font-weight: 400
        

  &inp
    transition: all 350ms
    display: flex
    flex-flow: column
    margin: 0 10% 15px 10%
    @media(min-width: $sm)
      margin: 0
      text-align: left
      flex-basis: 0
      align-items: baseline

    &-title
      transition: all 350ms
      @media(min-width: $sm)
        font-size: 1.5rem
      @media(min-width: $lg)
        font-size: 1.6rem

    &-box
      transition: all 350ms
      display: flex
      flex-flow: row
      justify-content: center
      padding: 5px 0

    &--inp
      transition: all 350ms
      height: 24px
      padding-left: 10px
      @media(min-width: $lg)
        height: 45px
        width: 280px
      
      &::placeholder
        font-style: italic

    &--btn
      transition: all 350ms
      background: #5db442
      position: relative
      width: 30px
      height: 24px
      cursor: pointer
      @media(min-width: $lg)
        width: 55px
        height: 45px


      &:before,
      &:after
        transition: all 350ms
        content: ""
        display: block
        background: #ffffff
        width: 8px
        height: 2px
        position: absolute
        left: 43%
        @media(min-width: $lg)
          width: 12px
          height: 3px

      &:after
        top: 10px
        transform: rotateZ(45deg)
        @media(min-width: $lg)
          top: 16px

      &:before
        transform: rotateZ(-45deg)
        top: 14px
        @media(min-width: $lg)
          top: 23px
        
    &-text
      transition: all 350ms
      font-weight: 300
      padding: 5px 0
      @media(min-width: $sm)
        font-size: 1.2rem
      @media(min-width: $lg)
        font-weight: 400


