.n__
  background: #f7f7f7

  &logo
    color: #636666
    font-size: 3.5em
    font-weight: 600

  &menus
    display: flex
    flex-flow: row
    justify-content: space-between
    margin-top: 17px

    & a
      font-size: 1.5em
      width: 68px
      font-weight: 300
      color: #5db442
      border: 0.5px solid #5db442
      border-radius: 20px
      padding: 2px 0 