.of__
  transition: all 333ms
  background: #ffffff
  @media(min-width: $lg)
    padding: 100px

  &title
    transition: all 333ms
    @media(min-width: $sm)
      font-size: 2.5rem
      font-weight: 400
    @media(min-width: $md)
      padding-top: 20px
    @media(min-width: $lg)
      padding: 0
      font-weight: 300
      font-size: 4rem
    @media(min-width: $el)
      font-size: 4.8rem

  &btn
    transition: all 333ms
    display: flex
    flex-flow: row
    justify-content: center
    align-items: center
    margin-top: 10px
    @media(min-width: $sm)
      margin-top: 15px
    @media(min-width: $lg)
      margin: 50px 0

    &-m
      transition: all 333ms
      display: flex
      align-items: center
      justify-content: center
      width: 20px
      height: 20px
      background: #4ca368
      border-radius: 50%
      position: absolute
      color: #f7f7f7
      font-size: 0.8em
      @media(min-width: $md)
        width: 24px
        height: 24px
        font-size: 1.3rem

    &-l,
    &-r
      transition: all 333ms
      display: flex
      width: 124px
      height: 24px
      border: 1px solid #5db442
      align-items: center
      justify-content: center
      @media(min-width: $md)
        width: 141.5px
        height: 28px
        font-size: 1.3rem

      &:hover
        background: #5db442
        color: #f7f7f7
      
    &-l
      border-radius: 20px 0 0 20px
      background: #f7f7f7
      border-right: none
      cursor: pointer

    &-r
      cursor: pointer
      border-radius: 0 20px 20px 0
      background: #f7f7f7
      border-left: none

  &prices
    cursor: unset
    transition: all 333ms
    display: flex
    flex-flow: column
    align-items: center
    border: 1px solid #ececec
    width: 127px
    @media(min-width: $sm)
      width: 135px
    @media(min-width: $md)
      width: 180px
    @media(min-width: $lg)
      width: 220px
    @media(min-width: $el)
      width: 270px

    &-fm
      transition: all 333ms
      @media(min-width: $md)
        padding: 15px 0

    &--btn
      cursor: pointer
      transition: all 333ms
      border:1px solid #ececec
      border-radius: 20px
      font-size: 0.8em
      background: #ffffff
      padding: 3px
      margin-bottom: 5px
      @media(min-width: $sm)
        font-size: 1rem
        padding: 6px 12px
      @media(min-width: $md)
        width: 95px
      @media(min-width: $lg)
        width: 120px
        height: 33px
        margin: 25px 0
      
      &:hover
        background: #5db442
        color: #ffffff

    &-title
      transition: all 333ms
      height: 40px
      @media(min-width: $sm)
        height: 50px
        font-size: 1.5rem
      @media(min-width: $md)
        height: 60px
      @media(min-width: $lg)
        font-size: 1.4rem
        margin-top: 10px
        height: 70px

      & js--set
        border-top: 2px solid #5db442

    &-pric
      transition: all 333ms
      width: 50px
      height: 50px
      border-radius: 50%
      display: flex
      flex-flow: column
      justify-content: center
      border: 1px solid #71bc59
      margin-top: 18px
      background: #f7f7f7
      position: absolute
      box-shadow: 0 0 3px 3px #ececec
      @media(min-width: $sm)
        width: 60px
        height: 60px
      @media(min-width: $md)
        width: 75px
        height: 75px
        margin-top: 25px
      @media(min-width: $lg)
        width: 92px
        height: 92px
        margin-top: 35px

      &--v
        transition: all 333ms
        font-size: 1.5em
        @media(min-width: $sm)
          font-size: 1.8rem
        @media(min-width: $md)
          font-size: 2.4rem
        @media(min-width: $lg)
          font-size: 2.3rem
          color: #333333

      &--t
        transition: all 333ms
        font-size: 0.5em
        font-weight: 300
        font-style: italic
        @media(min-width: $sm)
          font-size: 0.9rem
        @media(min-width: $md)
          font-size: 1rem

    &-list
      transition: all 333ms
      border-top: 1px solid #ececec
      padding-top: 30px
      width: 100%
      @media(min-width: $sm)
        padding-top: 40px
      @media(min-width: $md)
        padding-top: 60px
      @media(min-width: $lg)
        padding-top: 70px

      & li
        transition: all 333ms
        display: flex
        flex-flow: row
        justify-content: center
        text-align: center
        padding: 2px
        @media(min-width: $sm)
          align-items: baseline

      & svg
        transition: all 333ms
        width: 7px
        height: 7px
        @media(min-width: $sm)
          width: 8px
          height: 8px
        @media(min-width: $md)
          width: unset
          height: unset

      & p
        transition: all 333ms
        font-size: 0.7em
        margin-bottom: 6px
        margin-left: 3px
        @media(min-width: $sm)
          font-size: 1rem
        @media(min-width: $md)
          font-size: 1.3rem
        @media(min-width: $lg)
          font-size: 1.6rem

  &box
    transition: all 333ms
    background: #ffffff
    display: flex
    justify-content: space-evenly
    margin-top: 10px
    @media(min-width: $sm)
      margin-top: 15px
    @media(min-width: $md)
      margin: 25px 0
    @media(min-width: $lg)
      margin: 0