.ot__
  transition: all 350ms
  background-image: url('../img/bg-img.png')
  @media(min-width: $lg)
    padding: 100px
  @media(min-width: $el)
    display: flex
    flex-flow: column nowrap
    align-items: center

  &title
    transition: all 350ms
    padding: 5px 0
    font-size: 1.63rem
    @media(min-width: $sm)
      font-size: 2.5rem
      font-weight: 400
    @media(min-width: $md)
      padding-top: 20px
    @media(min-width: $lg)
      font-weight: 300
      padding: 0
      font-size: 4rem
    @media(min-width: $el)
      font-size: 4.8rem

  &box
    transition: all 350ms
    display: flex
    flex-flow: wrap
    justify-content: space-evenly
    margin-top: 10px
    @media(min-width: $sm)
      margin-top: 15px
    @media(min-width: $md)
      margin: 25px 0
    @media(min-width: $lg)
      margin: 45px 0 0 0
    @media(min-width: $el)
      width: 83%

    &-item
      transition: all 350ms
      background: #ffffff       
      width: 32%
      padding: 5px
      box-shadow: 1px 1px 4px 1px #e2e2e2
      margin-bottom: 15px
      @media(min-width: $sm)
        width: 40%
      @media(min-width: $md)
        width: 21%

      &:hover
        background: #5db442
        color: #ffffff
        @media(min-width: $md)
          transform: scale3d(1.1,1.1,1)

        & svg
          fill: #ffffff
          border-color: #ffffff

      &--title
        font-size: 1.1em
        @media(min-width: $sm)
          font-size: 1.5rem
          font-weight: 400
        @media(min-width: $lg)
          font-size: 1.6rem

      &--text
        margin-top: 5px
        font-weight: 300
        @media(min-width: $sm)
          padding: 20px
          font-size: 1.2rem
        @media(min-width: $md)
          padding: 10px
        @media(min-width: $el)
          padding: 25px

      &--ico
        transition: all 350ms
        border-bottom: 2px solid #e1e2e3
        padding-bottom: 10px
        margin: 5px 0
        fill: #5db442
        width: 35px
        height: 35px
        @media(min-width: $sm)
          width: 40px
          height: 40px
          margin: 10px 0
        @media(min-width: $md)
          width: unset
          height: unset