.ot__
  background-image: url('../img/bk-img.png')

  &title
    padding: 5px 0
    font-size: 1.63rem

  &box
    display: flex
    flex-flow: wrap
    justify-content: space-evenly
    margin-top: 10px

    &-item
      background: #ffffff       
      width: 32%
      padding: 5px
      box-shadow: 1px 1px 4px 1px #e2e2e2
      margin-bottom: 15px

      &:hover
        background: #5db442
        color: #ffffff

        & svg
          fill: #ffffff

      &--title
        font-size: 1.1em

      &--text
        margin-top: 5px
        font-weight: 300

      &--ico
        margin: 5px 0
        fill: #5db442
        width: 35px
        height: 35px