.s__
  transition: all 333ms
  background: #4ca368
  @media(min-width: $lg)
    padding: 100px
  @media(min-width: $el)
    display: flex
    flex-flow: column nowrap
    align-items: center

  &title
    transition: all 333ms
    padding-bottom: 5px
    @media(min-width: $sm)
      font-size: 2.5rem
      font-weight: 400
    @media(min-width: $md)
      padding-top: 20px
    @media(min-width: $lg)
      font-size: 4rem
      padding: 0
      font-weight: 300
    @media(min-width: $el)
      font-size: 4.8rem
      
  &text,
  &text-2
    font-weight: 300
  
  &text
    @media(min-width: $sm)
      font-size: 1.5rem
    @media(min-width: $lg)
      font-size: 1.6rem
    @media(min-width: $el)
      width: 820px
      margin: 12px 0

  &text-2
    transition: all 333ms
    color: #ffffff
    @media(min-width: $sm)
      font-size: 1.3rem
    @media(min-width: $md)
      padding-bottom: 20px
    @media(min-width: $lg)
      font-size: 1.4rem
      padding: 0
  
  &img
    transition: all 333ms
    margin: 5px 0
    @media(min-width: $md)
      margin: 10px 0

    & img
      transition: all 333ms
      width: 60%
      @media(min-width: $lg)
        width: 70%
      @media(min-width: $el)
        width: unset

  &box
    transition: all 333ms
    display: flex
    flex-flow: row
    justify-content: center
    margin-bottom: 5px
    @media(min-width: $md)
      margin-bottom: 10px
    @media(min-width: $el)
      margin: 20px 0

    &--inp
      transition: all 333ms
      height: 22px
      border-radius: 20px 0 0 20px
      border: 1px solid #37804e
      border-right: none
      text-align: left
      padding-left: 20px
      @media(min-width: $sm)
        height: 26px
      @media(min-width: $md)
        height: 28px
        border-width: 2px
        // width: 28%
      @media(min-width: $lg)
        // width: 210px
        height: 35px

      &::placeholder
        font-size: 11px
      @media(min-width: $lg)
        font-size: 14px

    &--btn
      transition: all 333ms
      color: #ffffff
      height: 24px
      border-radius: 0 20px 20px 0
      border: 1px solid #37804e
      border-left: none
      background: #37804e
      font-size: 1em
      padding: 2px
      cursor: pointer
      @media(min-width: $sm)
        height: 28px
      @media(min-width: $md)
        height: 32px
        border-width: 2px
        padding: 0 10px
      @media(min-width: $lg)
        padding: unset
        font-size: 1.4rem
        width: 82px
        height: 39px
